<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
 
  <input type="hidden" id="refresh" value="no">

              <nav class="navbar navbar-default">
                <div class="container-fluid">
                  <div class="navbar-header">
                   <!-- <router-link :to="{ name : 'Home'}" class="navbar-brand"> <span class="glyphicon glyphicon-home"></span>Home</router-link> -->
                    <a href="#" data-toggle="collapse" data-target="#demo" class="navbar-brand"><span class="glyphicon glyphicon-align-justify"></span></a>
                    
              
                  </div>
                  <ul class="nav navbar-nav">
                    <li> <a href="">cccc</a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li> <a href="">cccc</a></li>
                    <li> <a href="">cccc</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-wrench"></span>. Setting</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-question-sign"></span>. Help</a></li>
                    <li> <a href=""></a> </li>
                    <li ><a href="login/logout"><span class="glyphicon glyphicon-log-in"></span>. Log Out</a></li>
        
                  </ul>
                </div>
              </nav>
