<div style="display:block;" >
    <div class="my-navbar-left collapse col-lg-2 col-md-2 col-sm-2" id="demo">  
        <div class="panel-group" id="accordion">

<!-- start panel  -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
       <span class="glyphicon glyphicon-user"></span>. Administrator</a>
    </h4>
  </div>
  <div id="collapse1" class="panel-collapse collapse in">
    <div class="panel-body">
      <ul class="nav">
          <li><router-link :to="{name : ''}"><span class="glyphicon glyphicon-log-in"></span>. Calender</router-link></li>
          <li><router-link :to="{}"><span class="glyphicon glyphicon-minus"></span>. Menu</router-link></li>
          <li><router-link :to="{}"><span class="glyphicon glyphicon-minus"></span>. Menu</router-link></li>
          <li><router-link :to="{}"><span class="glyphicon glyphicon-minus"></span>. Menu</router-link></li>
          <li><router-link :to="{}"><span class="glyphicon glyphicon-minus"></span>. Menu</router-link></li> 
        </ul>
    </div>
  </div>
</div><!-- end panel  -->

<!-- start panel  -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
     <span class="glyphicon glyphicon-credit-card"></span>. Accounting</a>
    </h4>
  </div>
  <div id="collapse2" class="panel-collapse collapse"  >
    <div class="panel-body"><ul class="nav">
          <li><router-link :to="{name : 'accounting'}"><span class="glyphicon glyphicon-log-in"></span>. Main</router-link></li>
          <li><router-link :to="{}"><span class="glyphicon glyphicon-minus"></span>. Menu</router-link></li>
          <li><router-link :to="{}"><span class="glyphicon glyphicon-minus"></span>. Menu</router-link></li>
          <li><router-link :to="{}"><span class="glyphicon glyphicon-minus"></span>. Menu</router-link></li>
          <li><router-link :to="{}"><span class="glyphicon glyphicon-minus"></span>. Menu</router-link></li> 
        </ul>
    </div>
  </div>
</div><!-- end panel  -->

<!-- start panel  -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
            <span class="glyphicon glyphicon-user"></span>. Human Resources </a>  
    </h4>
  </div>

<div id="collapse3" class="panel-collapse collapse">
  <div class="panel-body">
        <ul class="nav">
          <li><router-link :to="{name : 'hr'}"><span class="glyphicon glyphicon-th-large"></span>. Main</router-link></li>
          <li><router-link :to="{ name : 'hrcalender'}"><span class="glyphicon glyphicon-calendar"></span>. Calender</router-link></li>
          <li><router-link :to="{name : 'shiftcode'}"><span class="glyphicon glyphicon-log-in"></span>. Menu</router-link></li>
          <li><router-link :to="{}"><span class="glyphicon glyphicon-log-in"></span>. Menu</router-link></li>
          <li><router-link :to="{}"><span class="glyphicon glyphicon-log-in"></span>. Menu</router-link></li> 
        </ul>
  </div>
</div>
</div>
<!-- end panel  -->
<!-- start panel  -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4"><span class="glyphicon glyphicon-eur"></span>. Payroll </a>  
    </h4>
  </div>

<div id="collapse4" class="panel-collapse collapse">
  <div class="panel-body">
        <ul class="nav">
          <li><router-link :to="{name : 'hr'}"><span class="glyphicon glyphicon-log-in"></span>. Main</router-link></li>
          <li><router-link :to="{ name : 'hrcalender'}"><span class="glyphicon glyphicon-calendar"></span>. Calender</router-link></li>
          <li><router-link :to="{}"><span class="glyphicon glyphicon-log-in"></span>. Menu</router-link></li>
          <li><router-link :to="{}"><span class="glyphicon glyphicon-log-in"></span>. Menu</router-link></li>
          <li><router-link :to="{}"><span class="glyphicon glyphicon-log-in"></span>. Menu</router-link></li> 
        </ul>
  </div>
</div>
</div>
<!-- end panel  -->

    </div>
  </div>     
</div>